/* ==UserStyle==
@name           miruro-gruvbox-forest
@namespace      github.com/venittas
@version        1.0.0
@description    A gruvbox forest theme with sharp corners for facebook
@author         venittas
==/UserStyle== */

@-moz-document domain("miruro.tv"), domain("theanimecommunity.com") {
    :root {
        --primary-accent: hsl(59.52, 70.79%, 34.90%) !important;
        --primary-accent-bg: hsla(59.52, 70.79%, 34.90%, .5) !important;
        --primary-accent-tr: hsla(182.69, 32.68%, 40.20%, .1) !important;
        --primary-accent-dk-tr: hsla(189.56, 88.98%, 24.90%, .1) !important;
        --ongoing: hsl(61.21, 66.22%, 44.12%) !important;
        --completed: hsl(157.06, 15.89%, 58.04%) !important;
        --cancelled: hsl(2.40, 75.11%, 45.69%) !important;
        --not-yet-aired: hsl(41.97, 95.31%, 58.24%) !important;
        --favourite: hsl(343.64, 46.67%, 67.65%) !important;
        --favourite-bg: hsl(343.64, 46.67%, 47.65%) !important;
        --opposite: hsl(48.46, 86.67%, 88.24%) !important;
        --global-primary-bg: hsl(195.00, 6.45%, 12.16%) !important;
        --global-primary-bg-tr: hsl(20.00, 3.09%, 19.02%) !important;
        --global-secondary-bg: hsl(20.00, 5.26%, 22.35%) !important;
        --global-tertiary-bg: hsl(21.82, 7.38%, 29.22%) !important;
        --global-div: hsl(0.00, 0.00%, 15.69%) !important;
        --global-div-tr: hsl(0.00, 0.00%, 15.69%) !important;
        --global-div-tr-2: hsla(0.00, 0.00%, 15.69%, .3);
        --global-text: hsl(48.46, 86.67%, 88.24%) !important;
        --global-text-muted: hsl(43.16, 58.76%, 80.98%) !important;
        --global-text-muted-strong: hsl(48.46, 86.67%, 88.24%) !important;
        --global-border-color: hsl(20.00, 3.09%, 19.02%) !important;
        --global-card-bg: hsl(20.00, 5.26%, 22.35%) !important;
        --global-card-title-bg: hsl(195.00, 6.45%, 12.16%) !important;
        --global-shadow: rgba(17, 17, 27, .6) !important;
        --global-shadow-light: rgba(17, 17, 27, .6) !important;
        --global-primary-skeleton: hsl(20.00, 3.09%, 19.02%) !important;
        --global-secondary-skeleton: hsla(20.00, 3.09%, 19.02%, .3) !important;
        --global-button-bg: hsl(59.52, 70.79%, 34.90%) !important;
        --global-button-bg-light: hsl(61.21, 66.22%, 44.12%) !important;
        --global-button-hover-bg: hsl(59.52, 70.79%, 34.90%) !important;
        --global-button-text: hsl(43.16, 58.76%, 80.98%) !important;
        --global-button-shadow: hsla(0.00, 0.00%, 15.69%, .6) !important;
        --global-border-radius: 0px !important;
    }

    button,
    a {
        border-radius: 0px !important;
    }

    iframe span,
    iframe input,
    .mantine-Popover-dropdown {
        border-radius: 0px !important;
    }

    iframe input {
        width: 78px !important;
    }

    .mantine-Popover-dropdown {
        left: 1132px !important;
    }

    .m_8fb7ebe7:focus,
    .m_8fb7ebe7:focus-within {
        border-color: var(--primary-accent-bg) !important;
    }

    .m_77c9d27d:hover:where(:not([data-loading], :disabled, [data-disabled])) {
        background-color: var(--primary-accent-bg) !important;
    }

    .postBody .m_77c9d27d:hover,
    .threadViewMoreRow .m_77c9d27d:hover {
        background-color: rgba(134, 142, 150, .2) !important;
    }

}